.img{background:url(../img/shouye.png) no-repeat ;}
.首页_013{height:29px;width:29px;background-position:0 0;}
.首页_02_03{height:29px;width:29px;background-position:0 -29px;}
.首页_42{height:14px;width:107px;background-position:0 -58px;}
.首页_45{height:14px;width:107px;background-position:0 -72px;}
.首页_20{height:35px;width:158px;background-position:0 -86px;}
.首页_07{height:32px;width:158px;background-position:0 -121px;}
.首页_14{height:37px;width:158px;background-position:0 -153px;}
.首页_23{height:36px;width:180px;background-position:0 -190px;}
.首页_27{height:31px;width:203px;background-position:0 -226px;}
.首页_03{height:51px;width:214px;background-position:0 -257px;}
.首页_39{height:34px;width:219px;background-position:0 -308px;}
.首页_35{height:28px;width:228px;background-position:0 -342px;}
