.img{background:url(../img/small.png) no-repeat ;}
.上传作品_23{height:7px;width:5px;background-position:0 0;}
.上传作品_19{height:8px;width:8px;background-position:0 -7px;}
.上传作品_06{height:17px;width:11px;background-position:0 -15px;}
.我的作品_03{height:16px;width:11px;background-position:0 -32px;}
.登录_07{height:13px;width:13px;background-position:0 -48px;}
.首页_03{height:13px;width:14px;background-position:0 -61px;}
.上传作品_15{height:14px;width:14px;background-position:0 -74px;}
.登录_03{height:16px;width:16px;background-position:0 -88px;}
.上传作品_09{height:10px;width:16px;background-position:0 -104px;}
.首页_06{height:20px;width:20px;background-position:0 -114px;}
.上传作品_03{height:55px;width:50px;background-position:0 -134px;}
.首页_039{height:111px;width:97px;background-position:0 -189px;}
