/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

/* header */
.g-header{width: 1200px;min-width: 960px;height: 90px;margin: 0 auto;}
.m-logo{float: left;width: 215px;height: 51px;margin-top: 22px;margin-left: 103px;background: url("../img/shouye.png") no-repeat 0 -257px;}
.m-tab{position: relative;float: left;margin-left: 47px;margin-top: 23px;width: 310px;height: 39px;}
.m-tab a{color: #b5b5b6;}
.m-tab .z-active a{color:#5ed0ba;}
.m-tab ul>li{float: left;font-size: 14px;padding: 10px 20px;cursor: pointer;}
.m-tab .tabs-track{position: absolute;bottom: 0;height: 4px;width: 97%;background:#dcdddd;border-radius: 2px;}
.m-tab .tabs-thumb{position: absolute;height: 4px;border-radius: 2px;background: #5ed0ba;transition: ease 0.1s;}
.m-search-in{float: left;margin-left: 37px;margin-top: 25px;}
.m-search-in form{position: relative;}
.m-search-in input{width: 193px;height: 36px;padding-left: 15px;border: 2px solid #5ed0ba;color: #898989;border-radius: 5px;}
.m-search-in::-webkit-input-placeholder{color: #898989;}
.m-search-in .u-search-btn{position: absolute;width: 36px;height: 35px;background: #fff;margin-top: -37px;margin-left:174px; cursor: pointer;border-radius: 5px;}
.m-search-in .u-search-logo{position: absolute;border:none; width: 20px;height: 20px;margin-left: 8px;margin-top: 8px;background: url("../img/small.png") no-repeat 0 -114px;}
.m-login{float: left;width: 87px;height: 36px;margin-left: 30px;margin-top: 24px;background-color: #5ed0ba;color: #fff;border: 1px solid #5ed0ba;border-radius: 5px;cursor: pointer;}
.m-login span{margin: 7px;font-size: 14px;}
.m-login .u-login-logo{display: inline-block;margin: 11px 0 0 20px;width: 13px;height: 13px;background: url("../img/small.png") no-repeat 0 -61px;}
.m-register{float: left;width: 87px;height: 36px;margin-top: 25px;color: #5ed0ba;border: 1px solid transparent;background-color: #fff;border-radius: 5px;cursor: pointer;}
.m-register span{display: inline-block;margin: 11px 0 0 30px;font-size: 14px;}

/* banner*/
.g-banner{height: 356px;position: relative;}

/* body */
.g-body{width: 1080px;margin: 50px auto 0;}

/* main */
.g-main{width: 760px;float: left;}

/* side */
.g-side{width: 295px;float: right;}

/* footer */
.g-footer{width: 1080px;margin: 0 auto;}